html {
    scroll-behavior: smooth;
}

body {
    background-color: darkslategray;
}

.index {
    height: 100vh;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-me {
    animation: slide-in 5s infinite;
    user-select: none;
}

.logo {
    margin: 20px auto;
    width: 250px; 
}

@keyframes slide-in {
    0% {
        color: ;
    }

    50% {
        color: white;
    }
    100% {
        color:;
    }
}

.down-arrow {
    display: inline-block;
    width: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid gray;
	margin-top: 70px;
}

#basic {
    background-color: #ff493c;
    height: 100vh;
}

h1 {
    font-family: 'Playfair Display SC', serif;
}