html {
    scroll-behavior: smooth;
}

body {
    background-color: darkslategray;
    width: 100%;
}

.index {
    height: 100vh;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-me {
    animation: slide-in 5s infinite;
    user-select: none;
}

.logo {
    margin: 20px auto;
    width: 250px; 
}

@keyframes slide-in {
    0% {
        color: ;
    }

    50% {
        color: white;
    }
    100% {
        color:;
    }
}

.down-arrow {
    display: inline-block;
    width: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid gray;
	margin-top: 70px;
}

#basic {
    background-color: #ff493c;
    height: 100vh;
    display: flex;
    width: 100%;
}

h1 {
    font-family: 'Playfair Display SC', serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.basic-info-picture {
    width: 500px;
    height: auto;
    border: 7px solid black;
}

.pictures {
    width: auto;
    margin: 0 10px;
}
#pic-vr {
    display: flex;
    width: 80%;
    margin: 10px auto;
}
#pic-ar {
    height: 335px;
}

.info {
    width: 800px;
    padding-top: 100px;
}
