html {
    scroll-behavior: smooth;
  }

body {

}

.header {
    width: 100vw;
}

nav {
    background-color: deepskyblue;
    
}

.navbar-brand {
    font-size: 40px;
}

.nav-item {
    font-size: 20px;
}

.home-page {
    width: 100vw;
    background-image: url(image/coffee.jpg);
    height: 92vh;
    background-size: cover;
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

.button {
    display: inline-block;
    background-color: deepskyblue;
    margin-top: 100px;
}

#fixed {
    background:url(image/sakura.jpg) no-repeat center center fixed;
    /* display: table; */
    height:60%;
    /* position: relative; */
    width: 100vw;
    /* background-size: cover; */
    padding: 200px;
    border: 5px solid black;
    
}

#about-me {
    height: 100vh;
    line-height: 100vh;
}

#cyberpunk {
    width: 100%;
    vertical-align: middle;
    height: 500px;
    border: 5px solid black;
}

.general-info{
    font-family: 'Coming Soon', cursive;
    padding-top: 175px;
}

h2 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
}

.hobbies {
    padding-top: 175px;
    font-family: 'Coming Soon', cursive;
}